.app__home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.app__home__container--box {
  width: 200px;
  height: 150px;
  background: var(--color-option);

  position: absolute;
  border-radius: 30px;
 
}

.app__home__container--box.first {
  top: 20%;
}

.app__home__container--box.second {
  right: 0;
}