.app__contact {

  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  position: fixed;
  right: 0;
  bottom: 20%;
  padding-right: 1rem;
}

.app__contact p {
  width: 20px;
  white-space: nowrap;
  transform: rotate(90deg);

  cursor: grabbing;
}