.app__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.app__navbar__logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;

}

.app__navbar__logo div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  position: relative;
}

.app__navbar__logo div::before {
  content: '';
  width: 10px;
  aspect-ratio: 1 / 1;

  background-color: var(--color-option);
  border-radius: 50%;
  box-shadow: 0 0 10px rgb(144, 221, 240),
              0 0 20px rgb(154, 230, 230),
              0 0 30px rgb(164, 240, 220),
              0 0 50px rgb(174, 250, 210);
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  animation: logoRotate 2s infinite ease;
}

@keyframes logoRotate {
  from {transform: rotate(-360deg)}
  to {transform: rotate(360deg)}
}

.app__navbar__content {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__navbar__content p {
  margin-left: 1rem;
}

.app__navbar__content--icons {
  font-size: 32px;
  margin-left: 1rem;
}