.app__socialMedia {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  bottom: 10%;
  left: 0;
  padding-left: 1rem;
}

.app__socialMedia--icons {
  font-size: 32px;
  margin: 1rem 0;
}

.app__socialMedia--icons {
  cursor: pointer;
}