.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 1fr;
  grid-template-areas: 
    'navbar navbar navbar navbar'
    'media  main    main  contact'
    'media  about   about  contact'
    'media  project   project  contact'
  ;
  justify-content: space-between;
  align-items: center;
  position: relative;
}


.app__navbar {
  grid-area: navbar;

  position: sticky;
  top: 0;
}

.app__socialMedia {
  grid-area: media;
  position: fixed;
  left: 0;
}

.app__home {
  grid-area: main;
}

.app__about {
  grid-area: about;
}

.app__projects {
  grid-area: project;
}

.app__contact {
  grid-area: contact;
  position: fixed;
  right: 0;
}